.main{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.btn{
    border: none;
    background-color: gray;
    padding: 10px 0px;
    border-radius: 10px;
    color: white;
    width: 100%;
    cursor: pointer;
}

.diary{
    float: left;
    width: 25%;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    margin: 10px;
}